div.aw-widget-current-inner ol,
div.aw-widget-current-inner ul {
    list-style: none!important
}
div.aw-widget-current-inner blockquote,
div.aw-widget-current-inner q {
    quotes: none!important
}

.aw-widget-legal {
    display: none
}
.aw-widget-current .bg-su,
.aw-widget-current .tbg-su {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjYjJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2Q2ZTlmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZmNlZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZlOWZlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZTlmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MjljZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #6cb2fc 0, #d6e9fe 52%, #7fceff 100%, #d6e9fe 100%, #d6e9fe 100%, #629ce9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6cb2fc), color-stop(52%, #d6e9fe), color-stop(100%, #7fceff), color-stop(100%, #d6e9fe), color-stop(100%, #d6e9fe), color-stop(100%, #629ce9));
    background: -webkit-linear-gradient(top, #6cb2fc 0, #d6e9fe 52%, #7fceff 100%, #d6e9fe 100%, #d6e9fe 100%, #629ce9 100%);
    background: -o-linear-gradient(top, #6cb2fc 0, #d6e9fe 52%, #7fceff 100%, #d6e9fe 100%, #d6e9fe 100%, #629ce9 100%);
    background: -ms-linear-gradient(top, #6cb2fc 0, #d6e9fe 52%, #7fceff 100%, #d6e9fe 100%, #d6e9fe 100%, #629ce9 100%);
    background: linear-gradient(to bottom, #6cb2fc 0, #d6e9fe 52%, #7fceff 100%, #d6e9fe 100%, #d6e9fe 100%, #629ce9 100%)
}
.aw-widget-current .bg-c,
.aw-widget-current .tbg-c {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZGFlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2VmZjZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZmMyZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #d0dae8 0, #eff6ff 40%, #9fc2fc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0dae8), color-stop(40%, #eff6ff), color-stop(100%, #9fc2fc));
    background: -webkit-linear-gradient(top, #d0dae8 0, #eff6ff 40%, #9fc2fc 100%);
    background: -o-linear-gradient(top, #d0dae8 0, #eff6ff 40%, #9fc2fc 100%);
    background: -ms-linear-gradient(top, #d0dae8 0, #eff6ff 40%, #9fc2fc 100%);
    background: linear-gradient(to bottom, #d0dae8 0, #eff6ff 40%, #9fc2fc 100%)
}
.aw-widget-current .bg-f,
.aw-widget-current .tbg-f {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZTRlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2U4ZWVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGI0ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #dee4ef 0, #e8eeff 40%, #a0b4d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dee4ef), color-stop(40%, #e8eeff), color-stop(100%, #a0b4d6));
    background: -webkit-linear-gradient(top, #dee4ef 0, #e8eeff 40%, #a0b4d6 100%);
    background: -o-linear-gradient(top, #dee4ef 0, #e8eeff 40%, #a0b4d6 100%);
    background: -ms-linear-gradient(top, #dee4ef 0, #e8eeff 40%, #a0b4d6 100%);
    background: linear-gradient(to bottom, #dee4ef 0, #e8eeff 40%, #a0b4d6 100%)
}
.aw-widget-current .bg-t,
.aw-widget-current .tbg-t {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwYmJlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzljYWZjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWViZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #90bbe5 0, #9cafce 40%, #deebfc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #90bbe5), color-stop(40%, #9cafce), color-stop(100%, #deebfc));
    background: -webkit-linear-gradient(top, #90bbe5 0, #9cafce 40%, #deebfc 100%);
    background: -o-linear-gradient(top, #90bbe5 0, #9cafce 40%, #deebfc 100%);
    background: -ms-linear-gradient(top, #90bbe5 0, #9cafce 40%, #deebfc 100%);
    background: linear-gradient(to bottom, #90bbe5 0, #9cafce 40%, #deebfc 100%)
}
.aw-widget-current .bg-r,
.aw-widget-current .tbg-r {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3ODliMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2VkZjNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2JkZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #7789b2 0, #edf3fc 40%, #b3bddb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7789b2), color-stop(40%, #edf3fc), color-stop(100%, #b3bddb));
    background: -webkit-linear-gradient(top, #7789b2 0, #edf3fc 40%, #b3bddb 100%);
    background: -o-linear-gradient(top, #7789b2 0, #edf3fc 40%, #b3bddb 100%);
    background: -ms-linear-gradient(top, #7789b2 0, #edf3fc 40%, #b3bddb 100%);
    background: linear-gradient(to bottom, #7789b2 0, #edf3fc 40%, #b3bddb 100%)
}
.aw-widget-current .bg-cl,
.aw-widget-current .tbg-cl {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzJjMzg2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDI3NGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #141414 0, #2c3863 40%, #1d274f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #141414), color-stop(40%, #2c3863), color-stop(100%, #1d274f));
    background: -webkit-linear-gradient(top, #141414 0, #2c3863 40%, #1d274f 100%);
    background: -o-linear-gradient(top, #141414 0, #2c3863 40%, #1d274f 100%);
    background: -ms-linear-gradient(top, #141414 0, #2c3863 40%, #1d274f 100%);
    background: linear-gradient(to bottom, #141414 0, #2c3863 40%, #1d274f 100%)
}
.aw-widget-current .bg-s,
.aw-widget-current .tbg-s {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0MTQxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzRmNGY1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjI5MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #141414 0, #4f4f54 40%, #26292d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #141414), color-stop(40%, #4f4f54), color-stop(100%, #26292d));
    background: -webkit-linear-gradient(top, #141414 0, #4f4f54 40%, #26292d 100%);
    background: -o-linear-gradient(top, #141414 0, #4f4f54 40%, #26292d 100%);
    background: -ms-linear-gradient(top, #141414 0, #4f4f54 40%, #26292d 100%);
    background: linear-gradient(to bottom, #141414 0, #4f4f54 40%, #26292d 100%)
}
.icon-only .aw-widget-current .bg-c,
.icon-only .aw-widget-current .bg-cl,
.icon-only .aw-widget-current .bg-f,
.icon-only .aw-widget-current .bg-r,
.icon-only .aw-widget-current .bg-s,
.icon-only .aw-widget-current .bg-su,
.icon-only .aw-widget-current .bg-t,
.icon-only .aw-widget-current .tbg-c,
.icon-only .aw-widget-current .tbg-cl,
.icon-only .aw-widget-current .tbg-f,
.icon-only .aw-widget-current .tbg-r,
.icon-only .aw-widget-current .tbg-s,
.icon-only .aw-widget-current .tbg-su,
.icon-only .aw-widget-current .tbg-t {
    background: 0 0!important
}
 
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather div.aw-current-weather-inner:after,
div.aw-widget-current-inner div.aw-widget-content:after,
div.aw-widget-current-inner:after {
    clear: both!important
}

div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather div.aw-current-weather-inner:after,
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather div.aw-current-weather-inner:before,
div.aw-widget-current-inner div.aw-widget-content:after,
div.aw-widget-current-inner div.aw-widget-content:before,
div.aw-widget-current-inner:after,
div.aw-widget-current-inner:before {
    content: ""!important;
    display: table!important
}

div.aw-widget-current-inner {
    max-width: 1200px!important;
    min-width: 85px!important;
    font-family: verdana, sans-serif;
    font-size: 10px!important;
    line-height: 1.5em!important;
    position: relative!important;
    padding-bottom: 6px!important
}
div.aw-widget-current-inner a {
    font-weight: 400!important
}
div.aw-widget-current-inner a,
div.aw-widget-current-inner abbr,
div.aw-widget-current-inner b,
div.aw-widget-current-inner blockquote,
div.aw-widget-current-inner dd,
div.aw-widget-current-inner div,
div.aw-widget-current-inner dl,
div.aw-widget-current-inner dt,
div.aw-widget-current-inner em,
div.aw-widget-current-inner form,
div.aw-widget-current-inner h1,
div.aw-widget-current-inner h2,
div.aw-widget-current-inner h3,
div.aw-widget-current-inner h4,
div.aw-widget-current-inner h5,
div.aw-widget-current-inner h6,
div.aw-widget-current-inner i,
div.aw-widget-current-inner img,
div.aw-widget-current-inner label,
div.aw-widget-current-inner legend,
div.aw-widget-current-inner li,
div.aw-widget-current-inner ol,
div.aw-widget-current-inner p,
div.aw-widget-current-inner span,
div.aw-widget-current-inner strong,
div.aw-widget-current-inner sub,
div.aw-widget-current-inner sup,
div.aw-widget-current-inner tt,
div.aw-widget-current-inner ul {
    margin: 0!important;
    padding: 0!important;
    border: 0!important;
    vertical-align: baseline!important
}
div.aw-widget-current-inner a.aw-current-weather {
    text-decoration: none!important;
    color: #000!important
}
div.aw-widget-current-inner div.aw-widget-content {
    color: #000!important;
    border: 2px solid #e9e9e9!important
}
.icon-only div.aw-widget-current-inner div.aw-widget-content {
    border: none!important
}
div.aw-widget-current-inner div.aw-widget-content.bg-cl,
div.aw-widget-current-inner div.aw-widget-content.bg-cl a.aw-current-weather,
div.aw-widget-current-inner div.aw-widget-content.bg-s,
div.aw-widget-current-inner div.aw-widget-content.bg-s a.aw-current-weather {
    color: #FFF!important
}
.icon-only div.aw-widget-current-inner div.aw-widget-content.bg-cl,
.icon-only div.aw-widget-current-inner div.aw-widget-content.bg-cl a.aw-current-weather,
.icon-only div.aw-widget-current-inner div.aw-widget-content.bg-s,
.icon-only div.aw-widget-current-inner div.aw-widget-content.bg-s a.aw-current-weather {
    color: #000!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather {
    padding: 0!important;
    position: relative!important;
    text-decoration: none!important;
    text-align: center!important;
    color: #000!important;
    width: 100%!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather div.aw-current-weather-inner {
    max-width: 450px!important;
    margin: 0 auto!important;
    position: relative!important
}
.lt-479 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather div.aw-current-weather-inner {
    max-width: 275px!important;
    padding-bottom: 24px!important
}
.lt-115 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather div.aw-current-weather-inner {
    padding-bottom: 14px!important
}
.lt-86 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather div.aw-current-weather-inner {
    padding-bottom: 12px!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather h3 {
    float: left!important;
    font-size: 18px!important;
    font-weight: 700!important;
    margin: 0!important;
    padding: 50px 0 0!important;
    width: 40%!important;
    line-height: normal!important
}
.lt-479 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather h3 {
    width: 100%!important;
    float: none!important;
    font-size: 14px!important;
    padding-top: 10px!important
}
.lt-216 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather h3 {
    width: auto!important;
    margin: 0 5px!important;
    font-size: 12px!important;
    padding-top: 6px!important
}
.lt-115 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather h3 {
    font-size: 11px!important
}
.lt-106 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather h3 {
    font-size: 9px!important;
    margin-bottom: 4px!important;
    font-weight: 400!important
}
.icon-only div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather h3 {
    display: none!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
    float: left!important;
    width: 30%!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: 180px auto!important;
    display: block!important;
    height: 108px!important;
    margin-top: 8px!important
}
.lt-479 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
    width: 100%!important;
    position: absolute!important;
    background-position: -30px 0!important;
    top: 25px!important;
    left: 0!important;
    z-index: 10!important
}
.lt-216 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
    height: 60px!important;
    background-size: 100px auto!important;
    width: 100%!important;
    margin-top: 15px!important;
    top: auto!important;
    left: auto!important;
    background-position: center center!important;
    position: static!important
}
.lt-115 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
    background-size: 60px auto!important;
    margin-left: 0!important;
    height: 36px!important;
    width: 100%!important;
    position: absolute!important;
    background-position: 5% 50%!important;
    top: auto!important;
    margin-top: 2px!important;
    left: 0!important;
    z-index: 10!important
}
.lt-106 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
    margin-top: -1px!important;
    background-position: -10px 0!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p {
    float: left!important;
    width: 30%!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p time {
    font-size: 10px!important;
    display: block!important;
    margin-top: 4px!important;
    text-align: center!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p time .lt-115 {
    width: 100%!important
}
.icon-only div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p time,
.lt-86 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p time {
    display: none!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-temperature-today {
    display: block!important;
    font-size: 42px!important;
    line-height: 1em!important;
    text-align: center!important;
    padding-top: 16px!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-temperature-today b {
    font-weight: 400!important;
    display: block!important;
    padding-left: 12px!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-temperature-today sup {
    font-size: .6em!important;
    line-height: 1.1em!important;
    vertical-align: top!important;
    bottom: auto!important
}
.lt-216 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-temperature-today {
    padding-top: 6px!important
}
.lt-115 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-temperature-today {
    font-size: 24px!important;
    padding-left: 15px!important
}
.lt-106 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-temperature-today {
    font-size: 18px!important
}
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-weather-description {
    font-size: 12px!important;
    line-height: 1.5em!important;
    display: block!important;
    margin-top: 6px!important;
    text-align: center!important
}
.icon-only div.aw-widget-current-inner a.aw-toggle,
.icon-only div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-weather-description,
.lt-115 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-weather-description {
    display: none!important
}
.lt-480 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p span.aw-weather-description {
    width: 100%!important;
    line-height: 1.2em!important
}
.lt-479 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p {
    position: relative!important;
    width: 50%!important;
    padding-left: 50%!important;
    z-index: 11!important
}
.lt-216 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p {
    padding-left: 0!important;
    width: 100%!important
}
div.aw-widget-current-inner a.aw-toggle {
    -webkit-border-radius: 0 0 4px 4px!important;
    -moz-border-radius: 0 0 4px 4px!important;
    border-radius: 0 0 4px 4px!important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15)!important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15)!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15)!important;
    position: absolute!important;
    z-index: 10!important;
    width: 26px!important;
    height: 16px!important;
    background: #e9e9e9!important;
    bottom: 0!important;
    right: 10px!important;
    border: 1px solid #dcdcdc!important
}
div.aw-widget-current-inner a.aw-toggle:hover {
    background: #f6f6f6!important
}
div.aw-widget-current-inner a.aw-toggle i {
    border: 0!important;
    font: 0/0 a!important;
    text-shadow: none!important;
    color: transparent!important;
    background-color: transparent!important;
    margin-top: 3px!important;
    margin-left: 6px!important;
    height: 20px!important;
    width: 12px!important;
    display: block!important;
    background-repeat: no-repeat!important;
    background-size: 14px 10px!important;
    background-image: url(https://vortex.accuweather.com/adc2010/oap/images/icon-get-widget-blue.png)!important
}
.lt-106 div.aw-widget-current-inner a.aw-toggle,
.lt-106 div.aw-widget-current-inner div.aw-get-widget-footer,
.lt-280 div.aw-widget-current-inner div.aw-get-widget-footer p.aw-get-info {
    display: none!important
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    div.aw-widget-current-inner a.aw-toggle i {
        background-image: url(https://vortex.accuweather.com/adc2010/oap/images/icon-get-widget-blue.2x.png)!important
    }
}
div.aw-widget-current-inner div.aw-get-widget-footer {
    background: #667ebd!important;
    color: #FFF!important;
    position: absolute!important;
    bottom: -21px!important;
    z-index: 11!important;
    height: 30px!important;
    width: 100%!important;
    display: none!important
}
div.aw-widget-current-inner div.aw-get-widget-footer p.aw-get-info {
    margin: 3px!important;
    padding: 0 0 0 8px!important;
    color: #FFF!important;
    line-height: 24px!important;
    float: left!important
}
div.aw-widget-current-inner div.aw-get-widget-footer a.aw-get-this-widget {
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
    background-color: #4769ba!important;
    background-repeat: repeat-x!important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#617dc0), to(#4769ba))!important;
    background-image: -moz-linear-gradient(#617dc0, #4769ba)!important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #617dc0), color-stop(100%, #4769ba))!important;
    background-image: -webkit-linear-gradient(#617dc0, #4769ba)!important;
    background-image: -o-linear-gradient(#617dc0, #4769ba)!important;
    background-image: -ms-linear-gradient(top, #617dc0 0, #4769ba 100%)!important;
    background-image: linear-gradient(#617dc0, #4769ba)!important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#617dc0', endColorstr='#4769ba', GradientType=0)!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#617dc0', endColorstr='#4769ba', GradientType=0)"!important;
    float: right!important;
    min-width: 95px!important;
    border: 1px solid #4964a3!important;
    color: #fff!important;
    margin: 3px!important;
    font-size: 1.1em!important;
    display: block!important;
    height: 18px!important;
    text-align: center!important;
    text-decoration: none!important;
    padding-top: 4px!important
}
.lt-280 div.aw-widget-current-inner div.aw-get-widget-footer a.aw-get-this-widget {
    float: none!important
}
div.aw-widget-current-inner div.aw-get-widget-footer a.aw-get-this-widget span {
    display: inline-block!important;
    position: relative!important;
    top: -1px!important
}
div.aw-widget-current-inner div.aw-get-widget-footer a.aw-get-this-widget i.aw-get-widget-icon {
    background: url(https://vortex.accuweather.com/adc2010/oap/images/icon-get-widget.png) no-repeat!important;
    background-size: 14px 10px!important;
    display: inline-block!important;
    height: 10px!important;
    margin-right: 5px!important;
    width: 14px!important
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    div.aw-widget-current-inner div.aw-get-widget-footer a.aw-get-this-widget i.aw-get-widget-icon {
        background-image: url(https://vortex.accuweather.com/adc2010/oap/images/icon-get-widget.2x.png)!important
    }
}
div.aw-widget-current-inner div.aw-get-widget-footer a.aw-get-this-widget:hover {
    background-color: #4769ba!important;
    background-repeat: repeat-x!important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#7994d3), to(#4769ba))!important;
    background-image: -moz-linear-gradient(#7994d3, #4769ba)!important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7994d3), color-stop(100%, #4769ba))!important;
    background-image: -webkit-linear-gradient(#7994d3, #4769ba)!important;
    background-image: -o-linear-gradient(#7994d3, #4769ba)!important;
    background-image: -ms-linear-gradient(top, #7994d3 0, #4769ba 100%)!important;
    background-image: linear-gradient(#7994d3, #4769ba)!important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7994d3', endColorstr='#4769ba', GradientType=0)!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7994d3', endColorstr='#4769ba', GradientType=0)"!important
}
div.aw-widget-current-inner.with-get .aw-widget-content {
    border-color: #667ebd!important
}
div.aw-widget-current-inner.with-get .aw-get-widget-footer {
    display: block!important
}
div.aw-widget-current-inner.with-get .aw-toggle {
    display: none!important
}
